@use "/src/sass/base/variables.scss" as *;

@mixin title {
    font-weight: 500;
    text-transform: uppercase;
    color: $Dark;
    text-align: center;
}

@mixin button {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    color: $Dark;
    border: 1px solid #000;
    padding: 13px;
    cursor: pointer;
}