@use "/src/sass/base/variables.scss" as *;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        img {
            width: 100px;
            height: 100px;
        }
    }
    
    &__icons {
        display: flex;
        // justify-content: space-between;
        column-gap: 15px;
        align-items: flex-start;

        a {
            color: $Dark;
            display: block; 
            
            span {
                display: block;
                width: 20px;
                height: 20px; 
            }
        }
    }

    &__nav {
        display: none;
    }
}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    height: 23px;

    span {
        width: 20px;
        height: 0px;
        border: 1px solid $Dark;
        grid-column: 10px;
    }    
}

@media screen and (min-width: 768px) {
    .header {
        &__nav {
            display: block;
            margin-top: 20px;

            ul {
                display: flex;
                justify-content: center;
                padding-left: 0px;
                gap: 30px; 
                list-style-type: none;       
            }
        }

        &__link {
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $Dark;
        }
    }

    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            img {
                width: 150px;
                height: 150px;   
            }
        }

        &__nav {
            margin-top: 36px;

            ul {
                gap: 60px;
            }
        }
    }
}

