@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
    @include button;
    min-width: 230px;
    min-height: 50px;
    background: #fff;
    font-size: 20px;
    padding: 13px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.btn-send {
    @include button;
    border-radius: 2px;
    width: 220px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    padding: 11px;

    &:focus {
        outline: 1px solid $Ceramic;
        border: none;
    }

    &:disabled {
        color: $ui-disabled;
        outline: 1px solid $ui-disabled;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .btn-default {
        &:hover {
            background-color: $Dark;
            border-radius: 2px;
            color: $Light;
            transition: 0.2s;
        }

        &:active {
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: $Dark;
            border: none;
        }
    }

    .btn-send {
        &:active {
            outline: 1px solid $Ceramic;
            border: none;   
        }


        &:hover {
            color: $Ceramic;
            text-shadow: 0 4px 10px rgba(0, 0, 0.25);
            outline: 1px solid $Ceramic;
            border: none;
        }
    }
}

@media screen and (min-width: 1920px) {
    .btn-default {
        @include button;
        width: 330px;
        height: 60px;
        background-color: transparent;
        box-shadow: none;
    }
}